:host {
  display: flex;
  padding-bottom: 12rem;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 2rem;
}

.header {
  width: 100%;
  margin: 0 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #524A54;
}

h1 {
  margin: 0;
  text-align: center;
  color: #F2EFEA;
  letter-spacing: 1rem;
  margin-left: 1rem;
  word-spacing: 1rem;
  line-height: 4rem;
  font-family: serif;
}

h2 {
  font-family: sans-serif;
  font-size: 2rem;
  margin-top: 0;
}

.roomId {
  font-family: sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

p {
  margin: 0 0 1.5rem 0;
}

img {
  max-width: 60rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.idea {
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.25rem 1.5rem;
  margin: 0.5rem 1rem;
}

li.add-idea {
  text-align: center;
}

.voteContainer {
  background: #524A54;
  margin-left: -1.25rem;
  border-radius: 0.3rem;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 10rem;
  max-width: 13rem;
}

/* home-page button {
  border-radius: 0.5rem;
} */

.thumb-button {
  display: inline-block;
  border: none;
  background: inherit;
}

.thumbs-up {
  padding-top: 0.3rem
}

.thumbs-down {
  padding-top: 0.3rem
}

svg path {
  fill: #BBBABC;
}

.thumbs-up svg {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  cursor:pointer;
}

.up-voted svg path {
  fill: #6CC6C6;
}

.thumbs-up svg:hover path {
  transform: scale(1.05);
}

.thumbs-down svg {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  cursor:pointer;
}

.thumbs-down svg {
  transform: rotate(180deg);
}

.down-voted svg path {
  fill: #C73649;
}

.thumbs-down svg:hover path {
  transform: scale(1.05);
}

.voteCount {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.upVotes {
  color: #6CC6C6;
}

.downVotes {
  color: #C73649;
}

.idea-description {
  line-height: 3rem;
  font-size: 1.8rem;
}
