:host {
  display: flex;
  padding: 4.5rem;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 2rem;
}

#badges-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

h1 {
  border-bottom: 0.01rem solid #dadada;
  margin: 0 0 2rem 0;
  text-align: center;
  width: 50%;
  color: #E9DF00;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 2rem;
  margin-top: 0;
}

p {
  margin: 0 0 1.5rem 0;
}

#learn-aofl {
  font-size: 3rem;
  text-decoration: none;
  color: #3ba6f7;
  border-bottom: 0.2rem solid;
  line-height: 1.3;
  margin-bottom: 2rem;
}

img {
  max-width: 60rem;
}

ul {
  list-style-type: none;
}

li {
  border-radius: 0.3em;
  background-color: white;
  padding: 0.2em 0.4em;
  margin: 0.2em;
  border-top: solid 0.05em lightgray;
  border-left: solid 0.05em lightgray;
  border-bottom: solid 0.05em darkgray;
  border-right: solid 0.05em darkgray;
}

home-page button {
  border-radius: 0.3em;
}

.thumb-button {
  border: none;
}

.thumbs-up {
  padding-top: 0.1em
}

.thumbs-down {
  padding-top: 0.2em
}

.thumbs-up svg {
  display: inline-block;
  height: 1.3em;
  width: 1.3em;
  cursor:pointer;
}

.up-voted svg path {
  fill: limegreen;
}

.thumbs-up svg:hover path {
  fill: darkgreen;
  transform: scale(1.05);
}

.thumbs-down svg {
  display: inline-block;
  height: 1.3em;
  width: 1.3em;
  cursor:pointer;
}

.thumbs-down svg {
  transform: rotate(180deg);
}

.down-voted svg path {
  fill: orangered;
}

.thumbs-down svg:hover path {
  fill: darkred;
  transform: scale(1.05);
}

.voteCount {
  font-weight: bold;
  font-size: 1.1em;
}

.upVotes {
  color: green;
}

.downVotes {
  color: darkred;
}
