:host {
  display: inline-block;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 0;
  position: relative;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
  margin-right: 1rem;
  padding-bottom: 3.5rem;
}
