:host {
  margin-top: 1rem;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

form {
  width: 100%;
}

input {
  width: 66%;
  margin-left: 1rem;
}

p {
  text-align: center;
  color: darkred;
  margin: 0;
}
